{% extends 'base.html' %}{% load static %}

{% block title %}Final step{% endblock %}

{% block content %}
<div class="col-lg-8 col-sm-10">

  <div class="avatar" style="padding-top: 24px;">
    <div class="media">
        <img class="align-self-center mr-3" src="{% static 'img/ava.png' %}" alt="avatar">
        <div class="media-body">
          <h3 class="mt-0">Из чего складывается стоимость SMM</h3>
          <h6 class="mb-0">Калькулятор Логиновской</h6>
        </div>
      </div>
    </div>

    <h2 id="totalNumber">Итого: 45 000 Р</h2>

    <h4>Информация для точности:</h4>

    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containin.</p>

</div>
<div class="col-lg-4">
  <img class="text-nav" src="{% static 'img/text-4.svg' %}" alt="text">
  <img src="{% static 'img/banner-2.png' %}" alt="banner-2">
</div>
{% endblock %}

{% block footer %}
<footer class="fixed-bottom baseline">
<div class="container" role="btns">
  <div  class="justify-content-center text-center row ">
    <button type="button" class="btn btn-outline-primary col-4">НАЗАД</button>
    <img class="col-2 stepsStyle" src="{% static 'img/steps-5.svg' %}" alt="steps">
    <button type="button" id="lastBtn" class="btn btn-outline-primary col-4">ВПЕРЕД</button>
  </div>
</div> <!-- /container -->
</footer>
{% endblock %}