{% extends 'base.html' %}{% load static %}

{% block content %}
<div class="col-lg-8 col-sm-10">
  <div class="avatar" style="padding-top: 24px;">
    <div class="media">
      <img class="align-self-center mr-3" src="{% static 'img/ava.png' %}" alt="avatar">
      <div class="media-body">
        <h3 class="mt-0">Из чего складывается стоимость SMM</h3>
        <h6 class="mb-0">Калькулятор Логиновской</h6>
      </div>
    </div>
  </div>

  <h4>Список страниц</h4>

  <a href="../smm_calc/1st-step.html"> First Step </a> <br>

  ------------------------------------------------------------------------------------------

  <a href="../smm_calc/2nd-step.html"> Second Step </a> <br>

  ------------------------------------------------------------------------------------------

  <a href="../smm_calc/3rd-step.html"> Third Step </a> <br>

  ------------------------------------------------------------------------------------------

  <a href="../smm_calc/4th-step.html"> Fourth Step </a> <br>

  ------------------------------------------------------------------------------------------

  <a href="../smm_calc/Final-step.html"> Fimal Step </a> <br>

  ------------------------------------------------------------------------------------------
</div>
{% endblock %}
