{% extends 'base.html' %}{% load static %}

{% block content %}
<div class="col-lg-8 col-sm-10">
  <div class="avatar" style="padding-top: 24px;">
    <div class="media">
      <img class="align-self-center mr-3" src="{% static 'img/ava.png' %}" alt="avatar">
      <div class="media-body">
        <h3 class="mt-0">Из чего складывается стоимость SMM</h3>
        <h6 class="mb-0">Калькулятор Логиновской</h6>
      </div>
    </div>
  </div>

  <a href="{% url 'inquire-step' 1 %}"> Начать расчет </a> <br>

</div>
{% endblock %}
