{% extends 'base.html' %}{% load static %}

{% block title %}3st step{% endblock %}

{% block content %}
<div class="col-lg-8 col-sm-10">
  {% include 'inquirers/_avatar.html' %}

  <h4>Настройка</h4>

  <div class="control-group">
      <label class="control control-checkbox checkline">
              Настройка таргетинга в ФБ+Инста
              <input type="checkbox" checked="checked" />
          <div class="control_indicator"></div>
      </label>
      <label class="control control-checkbox checkline">
              Настройка таргетинга в ОК
              <input type="checkbox" />
          <div class="control_indicator"></div>
      </label>
      <label class="control control-checkbox checkline">
              Размещение рекламных постов на сторонных площадках
              <input type="checkbox" />
          <div class="control_indicator"></div>
      </label>
      <label class="control control-checkbox checkline">
              Настройка таргетинга в ВК
              <input type="checkbox" disabled="disabled" />
          <div class="control_indicator"></div>
      </label>
  </div>

  <div class="media">
      <img class="align-self-center mr-3" src="{% static 'img/ico-info.svg' %}" alt="info">
      <div>
        <p>Нужны ли различные стимулирующие мероприятия, которые будет делать смм-специалист: конкурсы, розыгрыши и т.д.?</p>
      </div>
  </div>

  <h4>Бюджет</h4>

  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="BudgetRadioOptions" id="BudgetRadioOptions1" value="option1">
    <label class="form-check-label" for="BudgetRadioOptions1">До 100 000</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="BudgetRadioOptions" id="BudgetRadioOptions2" value="option2">
    <label class="form-check-label" for="BudgetRadioOptions2">Более 100 000</label>
  </div>

      <div class="media">
          <img class="align-self-center mr-3" src="{% static 'img/ico-info.svg' %}" alt="info">
          <div>
            <p>Укажите бюджет, который вы готовы потратить на рекламу? Это чистый бюджет, на который будут откручиваться рекламные показы.</p>
          </div>
      </div>

  <h4>Работа с блогерами</h4>

  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="BlogerRadioOptions" id="BlogerRadioOptions1" value="option1">
      <label class="form-check-label" for="ThemeRadioOptions1">До 5 в месяц</label>
  </div>
  <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="BlogerRadioOptions" id="BlogerRadioOptions2" value="option2">
      <label class="form-check-label" for="BlogerRadioOptions2">Более 5 в месяц</label>
  </div>

  <div class="media">
      <img class="align-self-center mr-3" src="{% static 'img/ico-info.svg' %}" alt="info">
      <div>
          <p>Включает в себя подборку блогеров, договоренности с ними, проработка механики взаимодействия. Не включает в себя оплату размещений у блогеров.</p>
      </div>
  </div>

  <h4>Дополнительно</h4>

  <div class="control-group">
      <label class="control control-checkbox checkline">
          Настройка таргетинга в ФБ+Инста
          <input type="checkbox" checked="checked" />
          <div class="control_indicator"></div>
      </label>
      <label class="control control-checkbox checkline">
          Настройка таргетинга в ОК
          <input type="checkbox" />
          <div class="control_indicator"></div>
      </label>
      <label class="control control-checkbox checkline">
          Размещение рекламных постов на сторонных площадках
          <input type="checkbox" />
          <div class="control_indicator"></div>
      </label>
      <label class="control control-checkbox checkline">
          Настройка таргетинга в ВК
          <input type="checkbox" disabled="disabled" />
          <div class="control_indicator"></div>
      </label>
  </div>

  <div class="media">
      <img class="align-self-center mr-3" src="{% static 'img/ico-info.svg' %}" alt="info">
      <div>
        <p>Нужны ли различные стимулирующие мероприятия, которые будет делать смм-специалист: конкурсы, розыгрыши и т.д.?</p>
      </div>
  </div>
</div>
<div class="col-lg-4">
    <img class="text-nav" src="{% static 'img/text-3.svg' %}" alt="text">
    <img src="{% static 'img/banner-2.png' %}" alt="banner-2">
</div>
{% endblock %}

{% block footer %}
<footer class="fixed-bottom baseline">
<div class="container" role="btns">
    <div  class="justify-content-center text-center row ">
        <button type="button" class="btn btn-outline-primary col-4">НАЗАД</button>
        <img class="col-2 stepsStyle" src="{% static 'img/steps-3.svg' %}" alt="steps">
        <button type="button" class="btn btn-outline-primary col-4">ВПЕРЕД</button>
    </div>
</div> <!-- /container -->
</footer>
{% endblock %}
